* {
	margin: 0;
	padding: 0;
}

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}


body {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 12px;
}

body, html {
	height: 100%;
}

table {
	border-collapse: collapse;
}

img {
	border: none
}

input,
textarea,
select,
button {
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

#appContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #1F1F1F;
}

#appFrame {
	position: relative;
	max-width: 640px;
	height: 100%;
	margin: auto;
}

#contentFrame {
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	bottom: 80px;
	font-size: 14px;
}

#contentBar {
	margin-bottom: 8px;
}

.contentButton {
	width: 100px;
}

#contentList {
	background-color: black;
	overflow: auto;
	height: 100%;
}

.contentItem {
	color: white;
	padding: 2px 4px;
	display: none;
}

.contentCheckbox {
	border-color: white;
	vertical-align: middle;
	background-color: black;
	margin-right: 6px;
}


